@model Patient
@{
    Layout = null;

}
@if (Model.Consultations != null)
{
    <div class="patient_history_list">
        @foreach (var consultation in Model.Consultations)
        {
            <div class="list_item">
                <div class="header">
                    @consultation.Header
                </div>
                <div class="default_text">
                    @Html.Raw(@consultation.Description)
                </div>
                <div class="small_text">@consultation.Time</div>
            </div>
        }
    </div>
}
